@page
@model RedirectModel
@{
}
<html>
<head>
	<meta http-equiv="refresh" content="20;url=https://www.gev.dk/"/>
</head>
<body>
	<h1>Omdirigerer om 20 sekunder til gev.dk...</h1>
<br/>
<br/>
<h4>
		<p>Du klikkede på et phishing-link og gav uforvarende adgang til din virksomhedskonto og fortrolige oplysninger. </p>
	<p></p>
	<p>Det er vigtigt at bemærke, at det er bedst at UNDGÅ at informere virksomheden og medarbejder om </p>
	<p>den specifikke phishing-mail, da det kan give et uklart resultat. I stedet vil en mail til opklaring blive </p>
	<p>sendt efterfølgende.</p>
	<p></p>
	<p></p>
	<p>Med venlig hilsen,</p>
		<p>Lennard og Youssef</p>

</h4>
</body>
</html>